.li.li-todoList {
  background-color: #504d4d;
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.todoText {
  width: calc(100% - 120px);
  font-size: 20px;
  padding: 0.6rem 1rem;
  word-wrap: break-word;
}

.iconDelete {
  position: absolute;
  top: 12px;
  left: 12px;
  &:hover {
    color: red;
  }
}

.iconCheck {
  position: absolute;
  bottom: 14px;
  right: 18px;
  &:hover {
    color: green;
  }
}

.iconCheck--completed {
  color: rgb(118, 216, 142);
}
