.modalBackground {
  background: rgba(70, 111, 192, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
